
header {
    position: absolute;
    width: 100%;
    max-width: 1200px;
    height: auto;
    margin-top: 0px;  
    display: flex;
    justify-content: center;
    flex-direction: column;  
}

.meet {
  font-family: 'Ramaraja', serif;
  font-style: normal;
  font-weight: normal;
  font-size: 72px;
  line-height: 76px;
  letter-spacing: 0.02em;  
}

.world {
    max-width: 1200px;
    width: 100%;    
}

.nav {
  overflow: hidden;
  background-color:#24e67b;
}

/* Style the links inside the navigation bar */
.nav a {
  float: left;
  display: block;
  color: #6991e6;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.nav a:hover {
  background-color: #24e67b;
  color: black;
}

/* Add an active class to highlight the current page */
.nav a.active {
  background-color: #fcadd8;
  color: white/*rgb(171, 172, 240)*/;
}


a {
  color: #000000;
}
li {
  margin-left: 20px;
  }
li:hover {
  transform: scale(1.2);
}
a:link { 
  text-decoration: none; 
}
a:visited { 
  text-decoration: none; 
}
a:active { 
  text-decoration: none; 
}

/* Hide the link that should open and close the topnav on small screens */
.nav .icon {
  display: none;
}

.ul-menu {
    list-style: none;
    display: flex;
    max-width: 1200px;
    width: 100%;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #DBDF88;
    position: -webkit-sticky; 
    position: sticky;
    top: 0;
    margin-top: 10px;
    margin-left: 200px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 32px;
    /* or 160% */
    letter-spacing: 0.02em;
    color: #9A9A9A;;
  }

  li {
    float:left
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}